In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv('C:/Projects/python-workspace/Machine Learning/Machine learning project/team4 eda prj/dataset/train_data_ver1.csv')
train_data.head()

,전용면적,거래금액,층,건축년도,제곱미터단가,구,동,단지명브랜드,동별 공원 갯수,8학군,동별지하철역수,구별 교과학원 갯수,계약날짜인코딩
0,79.97,130000,4,1987,1625.609604,강남구,개포동,기타,16.0,1,1,1304,2
1,79.97,117000,2,1987,1463.048643,강남구,개포동,기타,16.0,1,1,1304,7
2,79.97,130000,1,1987,1625.609604,강남구,개포동,기타,16.0,1,1,1304,10
3,79.97,139500,2,1987,1744.404152,강남구,개포동,기타,16.0,1,1,1304,77
4,54.98,107500,5,1987,1955.256457,강남구,개포동,기타,16.0,1,1,1304,94

In [3]:
retail_df = pd.read_csv('C:/Projects/python-workspace/Machine Learning/Machine learning project/team4 eda prj/dataset/유통업체.csv', encoding='cp949')
retail_df.head()

   자치구            동  대형마트 수  백화점 수
0  종로구  종로1.2.3.4가동       0      0
1  종로구      종로5·6가동       0      0
2  종로구         창신1동       0      0
3  종로구         창신3동       0      0
4  종로구         숭인2동       0      0

### 1. 구별 집계

In [4]:
group_by_gu = retail_df.groupby('자치구').sum()
group_by_gu = group_by_gu.reset_index()
group_by_gu['전체 마트 수'] = group_by_gu['대형마트 수'] + group_by_gu['백화점 수']
group_by_gu = group_by_gu[group_by_gu['전체 마트 수'] != 0]
group_by_gu = group_by_gu.reset_index().drop('index', axis=1)
group_by_gu

     자치구  대형마트 수  백화점 수  전체 마트 수
0    강남구       1      6        7
1    강동구       3      1        4
2    강북구       1      1        2
3    강서구       3      1        4
4    관악구       1      1        2
5    광진구       2      1        3
6    구로구       3      2        5
7    금천구       3      0        3
8    노원구       2      2        4
9    도봉구       2      0        2
10  동대문구       2      1        3
11   동작구       0      1        1
12   마포구       3      0        3
13  서대문구       0      1        1
14   서초구       4      2        6
15   성동구       2      0        2
16   성북구       3      1        4
17   송파구       4      2        6
18   양천구       1      1        2
19  영등포구       5      3        8
20   용산구       2      1        3
21   은평구       2      0        2
22    중구       2      3        5
23   중랑구       6      0        6

In [5]:
# 구별 대형마트 수 원본 데이터에 매핑
big_mart_count_by_gu = group_by_gu[['자치구', '대형마트 수']]
big_mart_guname = list(big_mart_count_by_gu['자치구'])
big_mart_guvalue = list(big_mart_count_by_gu['대형마트 수'])
big_mart_count_by_gu = pd.Series(index=big_mart_guname, data=big_mart_guvalue)

train_data['구별 대형마트 수'] = train_data['구'].map(big_mart_count_by_gu)
train_data['구별 대형마트 수'].value_counts()

2.0    75380
3.0    65816
1.0    36286
4.0    24455
0.0    16256
5.0     9765
6.0     7940
Name: 구별 대형마트 수, dtype: int64

In [6]:
# 구별 백화점 수 원본 데이터에 매핑
department_count_by_gu = group_by_gu[['자치구', '백화점 수']]
department_guname = list(department_count_by_gu['자치구'])
department_guvalue = list(department_count_by_gu['백화점 수'])
department_count_by_gu = pd.Series(index=department_guname, data=department_guvalue)

train_data['구별 백화점 수'] = train_data['구'].map(department_count_by_gu)
train_data['구별 백화점 수'].value_counts()

1.0    98380
2.0    62142
0.0    50503
3.0    13031
6.0    11842
Name: 구별 백화점 수, dtype: int64

In [7]:
# 구별 전체 마트 수 원본 데이터에 매핑
all_count_by_gu = group_by_gu[['자치구', '전체 마트 수']]
all_guname = list(all_count_by_gu['자치구'])
all_guvalue = list(all_count_by_gu['전체 마트 수'])
all_count_by_gu = pd.Series(index=all_guname, data=all_guvalue)

train_data['구별 전체 마트 수'] = train_data['구'].map(all_count_by_gu)
train_data['구별 전체 마트 수'].value_counts()

4.0    64412
2.0    53856
6.0    32395
3.0    31136
1.0    16256
5.0    16236
7.0    11842
8.0     9765
Name: 구별 전체 마트 수, dtype: int64

### 2. 동별 집계

In [8]:
group_by_dong = retail_df.groupby('동').sum()
group_by_dong = group_by_dong.reset_index()
group_by_dong['전체 마트 수'] = group_by_dong['대형마트 수'] + group_by_dong['백화점 수']
group_by_dong = group_by_dong[group_by_dong['전체 마트 수'] != 0]
group_by_dong = group_by_dong.reset_index().drop('index', axis=1)
group_by_dong

       동  대형마트 수  백화점 수  전체 마트 수
0   가양2동       1      0        1
1   가양3동       1      0        1
2    공덕동       1      0        1
3   구로3동       1      0        1
4   구로5동       1      1        2
..   ...     ...    ...      ...
60   청담동       0      1        1
61  한강로동       2      1        3
62  행당1동       1      0        1
63   황학동       1      0        1
64   회현동       1      1        2

[65 rows x 4 columns]

In [9]:
# 동별 대형마트 수 원본 데이터에 매핑
big_mart_count_by_dong = group_by_dong[['동', '대형마트 수']]
big_mart_name = list(big_mart_count_by_dong['동'])
big_mart_value = list(big_mart_count_by_dong['대형마트 수'])
big_mart_count_by_dong = pd.Series(index=big_mart_name, data=big_mart_value)

big_mart_count_by_dong

가양2동    1
가양3동    1
공덕동     1
구로3동    1
구로5동    1
       ..
청담동     0
한강로동    2
행당1동    1
황학동     1
회현동     1
Length: 65, dtype: int64

In [10]:
train_data['동별 대형마트 수'] = train_data['동'].map(big_mart_count_by_dong)
train_data['동별 대형마트 수'].value_counts()

1.0    4532
0.0    2904
Name: 동별 대형마트 수, dtype: int64

In [11]:
# 동별 백화점 수 원본 데이터에 매핑
department_count_by_dong = group_by_dong[['동', '백화점 수']]
department_name = list(department_count_by_dong['동'])
department_value = list(department_count_by_dong['백화점 수'])
department_count_by_dong = pd.Series(index=department_name, data=department_value)

department_count_by_dong

가양2동    0
가양3동    0
공덕동     0
구로3동    0
구로5동    1
       ..
청담동     1
한강로동    1
행당1동    0
황학동     0
회현동     1
Length: 65, dtype: int64

In [12]:
train_data['동별 백화점 수'] = train_data['동'].map(department_count_by_dong)
train_data['동별 백화점 수'].value_counts()

1.0    4047
0.0    2384
2.0    1005
Name: 동별 백화점 수, dtype: int64

In [13]:
# 동별 전체 마트 수 원본 데이터에 매핑
all_count_by_dong = group_by_dong[['동', '전체 마트 수']]
all_name = list(all_count_by_dong['동'])
all_value = list(all_count_by_dong['전체 마트 수'])
all_count_by_dong = pd.Series(index=all_name, data=all_value)

all_count_by_dong

가양2동    1
가양3동    1
공덕동     1
구로3동    1
구로5동    2
       ..
청담동     1
한강로동    3
행당1동    1
황학동     1
회현동     2
Length: 65, dtype: int64

In [14]:
train_data['동별 전체 마트 수'] = train_data['동'].map(all_count_by_dong)
train_data['동별 전체 마트 수'].value_counts()

1.0    4283
2.0    3153
Name: 동별 전체 마트 수, dtype: int64

In [16]:
train_data = train_data.fillna(0)
train_data

,전용면적,거래금액,층,건축년도,제곱미터단가,구,동,단지명브랜드,동별 공원 갯수,8학군,동별지하철역수,구별 교과학원 갯수,계약날짜인코딩,구별 대형마트 수,구별 백화점 수,구별 전체 마트 수,동별 대형마트 수,동별 백화점 수,동별 전체 마트 수
0,79.97,130000,4,1987,1625.609604,강남구,개포동,기타,16.0,1,1,1304,2,1.0,6.0,7.0,0.0,0.0,0.0
1,79.97,117000,2,1987,1463.048643,강남구,개포동,기타,16.0,1,1,1304,7,1.0,6.0,7.0,0.0,0.0,0.0
2,79.97,130000,1,1987,1625.609604,강남구,개포동,기타,16.0,1,1,1304,10,1.0,6.0,7.0,0.0,0.0,0.0
3,79.97,139500,2,1987,1744.404152,강남구,개포동,기타,16.0,1,1,1304,77,1.0,6.0,7.0,0.0,0.0,0.0
4,54.98,107500,5,1987,1955.256457,강남구,개포동,기타,16.0,1,1,1304,94,1.0,6.0,7.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237982,106.21,45400,6,2003,427.455042,중랑구,중화동,기타,0.0,0,1,174,800,6.0,0.0,6.0,0.0,0.0,0.0
237983,67.57,26000,2,2003,384.786148,중랑구,중화동,기타,0.0,0,1,174,949,6.0,0.0,6.0,0.0,0.0,0.0
237984,95.94,44000,6,2007,458.619971,중랑구,중화동,현대,0.0,0,1,174,921,6.0,0.0,6.0,0.0,0.0,0.0
237985,100.17,54800,5,2007,547.069981,중랑구,중화동,현대,0.0,0,1,174,1067,6.0,0.0,6.0,0.0,0.0,0.0
237986,77.71,40000,5,2007,514.734268,중랑구,중화동,현대,0.0,0,1,174,1001,6.0,0.0,6.0,0.0,0.0,0.0